#home {
    
    text-transform: uppercase;
    margin: 0;

    /* options */

    .main-options {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: 200px;
        margin-top: 10px;
    }
    .main-row {
        display: flex;
        height: 100px;
    }
    .main-image {
        padding: 5px 0px;
        position: relative;
        width: 100%;
    }

    .order {
        padding-right: 3px;
    }

    .booking {
        padding-left: 3px;
    }

    .main-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .main-image h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        margin: auto;
    }

    .main-image p {
        text-transform: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: #ffffff;
        text-align: center;
        width: 100%;
        opacity: 0;
        z-index: -1; 
    }

    .main-image:hover h1{
        transform: translate(-50%, -100%);
        transition: all 1s;
    }

    .main-image:hover p {
        transform: translate(-50%, -25%);
        opacity: 1;
        z-index: 1;
        transition: all 1s;
    }

    .opening-hours {
        background-color: $color-main;
        text-align: center;
        height: 100px;
        border-radius: 5px;
    }
    
    /* carousel */
    .main-carousel {
        height: 400px;
        margin: auto;
    }
    .carousel-cell {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .carousel-image {
        margin: auto;
        flex: 0 0 50%;
    }
    .carousel-image img {
        width: 100%;
        height: 100%;
    }
    .carousel-text {
        margin: auto;
        flex: 0 0 50%;
        padding: 10px;
    }

    /* gallery */

        .gallery-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            box-sizing: border-box;

        .row {
            display: flex;
        }

        .gallery-image {
            flex: 0 0 33.3333%;
            height: 200px;
            position: relative;
            margin: 5px;
        }

        .gallery-image::after {
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: #000000;
            opacity: 0;
            position: absolute;
            transition: all 1s;
            border-radius: 5px;
        }

        .gallery-image:hover::after{
            opacity: 0.4;
        }

        .gallery-image img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            border-radius: 5px;
        }

        .gallery-icons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            z-index: 1;
            opacity: 0;
            transition: all 1s;
        }

        .gallery-image:hover .gallery-icons {
            opacity: 1;
        }

        .gallery-icons i {
            padding: 5px;
            transition: all 1s;
        }

        .gallery-icons i:hover{
            color: $color-danger;
        }
    }
}